connections.inc
events.inc
groups.inc
headers.inc
**/connections.inc
**/events.inc
**/header.inc
OldaleTown_Mart/scripts.inc
DewfordTown_House3/scripts.inc
FallarborTown_CozmosHouse/scripts.inc
LilycoveCity_DepartmentStore_2F/scripts.inc
LilycoveCity_DepartmentStore_3F/scripts.inc
LilycoveCity_DepartmentStore_4F/scripts.inc
MauvilleCity/scripts.inc
MauvilleCity_GameCorner/scripts.inc
PacifidlogTown_House2/scripts.inc
Route104/scripts.inc
ScorchedSlab_HiddenRoom/scripts.inc
SlateportCity/scripts.inc
SlateportCity_OceanicMuseum_1F/scripts.inc
SSTidalCorridor/scripts.inc
SSTidalRooms/scripts.inc
LittlerootTown/scripts.inc
