connections.inc
events.inc
groups.inc
headers.inc
**/connections.inc
**/events.inc
**/header.inc
Route104North/scripts.inc
Route104South/scripts.inc
BattleFrontier_Lounge6/scripts.inc
BattleFrontier_Mart/scripts.inc
BattleFrontier_PokemonCenter_1F/scripts.inc
CaveOfOrigin_B1F/scripts.inc
DewfordTown/scripts.inc
DewfordTown_Gym/scripts.inc
DewfordTown_House2/scripts.inc
DewfordTown_PokemonCenter_1F/scripts.inc
EverGrandeCity_ChampionsRoom/scripts.inc
EverGrandeCity_HallOfFame/scripts.inc
EverGrandeCity_PokemonLeague_1F/scripts.inc
FallarborTown_Mart/scripts.inc
FallarborTown_MoveRelearnersHouse/scripts.inc
FieryPath/scripts.inc
FortreeCity_Gym/scripts.inc
FortreeCity_House1/scripts.inc
GraniteCave_1F/scripts.inc
LavaridgeTown/scripts.inc
LavaridgeTown_Gym_1F/scripts.inc
LavaridgeTown_HerbShop/scripts.inc
LilycoveCity/scripts.inc
LilycoveCity_DepartmentStore_2F/scripts.inc
LilycoveCity_DepartmentStore_3F/scripts.inc
LilycoveCity_DepartmentStore_4F/scripts.inc
LilycoveCity_DepartmentStore_5F/scripts.inc
LilycoveCity_House2/scripts.inc
LittlerootTown/scripts.inc
MauvilleCity/scripts.inc
MauvilleCity_GameCorner/scripts.inc
MauvilleCity_Gym/scripts.inc
MauvilleCity_House2/scripts.inc
MauvilleCity_Mart/scripts.inc
MauvilleCity_PokemonCenter_1F/scripts.inc
MirageTower_4F/scripts.inc
MeteorFalls_StevensCave/scripts.inc
MossdeepCity_Gym/scripts.inc
MossdeepCity_House3/scripts.inc
MossdeepCity_House4/scripts.inc
MossdeepCity_Mart/scripts.inc
MossdeepCity_SpaceCenter_1F/scripts.inc
MossdeepCity_StevensHouse/scripts.inc
MtChimney/scripts.inc
OldaleTown_Mart/scripts.inc
PacifidlogTown_House3/scripts.inc
PacifidlogTown_House4/scripts.inc
PacifidlogTown_House5/scripts.inc
PetalburgCity_Gym/scripts.inc
PetalburgCity_Mart/scripts.inc
PetalburgWoods/scripts.inc
Route103/scripts.inc
Route104_PrettyPetalFlowerShop/scripts.inc
Route109/scripts.inc
Route109_SeashoreHouse/scripts.inc
Route110/scripts.inc
Route111/scripts.inc
Route111_OldLadysRestStop/scripts.inc
Route111_WinstrateFamilysHouse/scripts.inc
Route113/scripts.inc
Route114/scripts.inc
Route116/scripts.inc
Route118/scripts.inc
Route119_WeatherInstitute_1F/scripts.inc
Route120/scripts.inc
Route121_SafariZoneEntrance/scripts.inc
Route123/scripts.inc
Route123_BerryMastersHouse/scripts.inc
Route124/scripts.inc
Route124_DivingTreasureHuntersHouse/scripts.inc
Route133/scripts.inc
RustboroCity/scripts.inc
RustboroCity_CuttersHouse/scripts.inc
RustboroCity_DevonCorp_2F/scripts.inc
RustboroCity_DevonCorp_3F/scripts.inc
RustboroCity_Flat2_1F/scripts.inc
RustboroCity_Gym/scripts.inc
RustboroCity_House1/scripts.inc
RustboroCity_Mart/scripts.inc
SlateportCity/scripts.inc
SlateportCity_Harbor/scripts.inc
SlateportCity_NameRatersHouse/scripts.inc
SlateportCity_PokemonFanClub/scripts.inc
SootopolisCity/scripts.inc
SootopolisCity_Mart/scripts.inc
SootopolisCity_Gym_1F/scripts.inc
SSTidalRooms/scripts.inc
TrainerHill_Entrance/scripts.inc
VerdanturfTown_Mart/scripts.inc
VerdanturfTown_WandasHouse/scripts.inc
VictoryRoad_1F/scripts.inc
DesertUnderpass/scripts.inc
GraniteCave_B1F/scripts.inc
LittlerootTown_ProfessorBirchsLab/scripts.inc
MossdeepCity/scripts.inc
